<configuration>
    <appender name="LE" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, America/Mexico_City} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
     <root level="info">
         <appender-ref ref="LE"/>
     </root>
</configuration>